[defaults]
inventory = ansible/inventory/localhost.yml
interpreter_python = /usr/bin/python3
retry_files_enabled = False
roles_path = ansible/roles
stdout_callback = default

[privilege_escalation]
become = True
